.drink__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.drink__list {
  width: 255px;
}
.drink__item {
  padding: 24px 0;
  border-bottom: 1px solid #83888f;
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  opacity: 0.25;
  transition: 0.4s;
  cursor: pointer;
}
.drink__item:hover {
  color: #333d4b;
  opacity: 1;
}
.drink__item:active {
  color: #333d4b;
  opacity: 1;
}
.drink__item span {
  margin-right: 24px;
}
.drink__item:hover span {
  color: #0e8784;
  opacity: 1;
}
.drink__item:active span {
  color: #0e8784;
}
.drink__coffee {
  width: 730px;
}
.item__heading {
  padding-bottom: 56px;
  position: relative;
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
}
.heading::after {
  position: absolute;
  top: 20px;
  right: -60px;
  width: 18px;
  height: 11px;
  content: "";
  background-image: url(../../images/vector-top.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.item__list {
  padding-bottom: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item__li {
  width: 228px;
  height: 250px;
  background: #f4f1eb;
  border-radius: 8px;
  transition: 0.4s;
}
.item__li:hover {
  background-color: #0e8784;
}
.item__li:active {
  background-color: #0e8784;
}
.item__li + .item__li {
  margin-left: 23px;
}
.item__title {
  padding-left: 28px;
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
  transition: 0.4s;
}
.item__li:hover .item__title {
  color: #fff;
}
.item__text {
  padding-left: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  transition: 0.4s;
}
.item__li:hover .item__text {
  color: #fff;
}
.title {
  padding-bottom: 88px;
}
.title::after {
  position: absolute;
  top: 20px;
  right: -60px;
  width: 18px;
  height: 11px;
  content: "";
  background-image: url(../../images/vector-bottom.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.summary {
  padding: 51px 64px 47px 64px;
  background-color: #2c343e;
  border-radius: 10px;
}
.summary__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.summary__quote {
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}
.summary__quote span {
  color: #0e8784;
}
.drink__button {
  margin-top: 40px;
  margin-bottom: 168px;
  margin-left: 500px;
  padding: 15px 35px;
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  border: none;
  background-color: #e2dedb;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.drink__button:hover {
  background-color: #0e8784;
  color: #fff;
}
.drink__button:active {
  background-color: #0e8784;
  color: #fff;
}
.list-ul {
  display: none;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1100px) {
  .drink__list {
    display: none;
  }
  .list-ul {
    display: block;
    display: flex;
  }
  .item__heading {
    font-size: 32px;
  }
  .heading::after {
    position: absolute;
    top: 20px;
    right: 80px;
    background-image: url(../../images/vector-bottom.svg);
  }
  .title::after {
    position: absolute;
    top: 20px;
    right: 80px;
  }
}
@media only screen and (max-width: 775px) {
  .list-ul {
    flex-direction: column;
  }
  .item__list {
    flex-direction: column;
  }
  .item__li {
    margin-bottom: 20px;
  }
  .item__li {
    margin-bottom: 20px;
    width: 80%;
  }
  .item__li + .item__li {
    margin-left: 0;
  }
  .title::after {
    position: absolute;
    top: 20px;
    right: 150px;
  }
  .item__heading {
    margin-left: 50px;
  }
}
@media only screen and (max-width: 690px) {
  .item__heading {
    text-align: center;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
  }
  .heading::after {
    background-image: none;
  }
  .title::after {
    background-image: none;
  }
  .item__li {
    width: 328px;
    padding: 0;
  }
  .summary {
    padding: 41px 34px 37px 34px;
  }
  .summary__title {
    font-size: 12px;
    line-height: 26px;
  }
  .summary__quote {
    font-size: 20px;
    line-height: 40px;
  }
  .drink__button {
    margin-left: 200px;
  }
}
@media only screen and (max-width: 570px) {
  .drink__button {
    margin-left: 120px;
  }
}
