.plan {
  padding-bottom: 168px;
}
.plan__content {
  background-image: url(../../images/plan-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.plan__heading {
  padding: 134px 0 134px 85px;
  max-width: 520px;
}
.plan__title {
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}
.plan__text {
  margin-top: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
@media only screen and (max-width: 900px) {
  .plan__content {
    background-image: url(../../images/plan-background-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }
  .plan__heading {
    padding: 127px 0 127px 58px;
  }
  .plan__title {
    font-size: 48px;
    line-height: 48px;
  }
  .plan__text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media only screen and (max-width: 580px) {
  .plan__content {
    background-image: url(../../images/plan-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .plan__heading {
    padding: 101px 24px 136px 24px;
    text-align: center;
  }
  .plan__title {
    font-size: 40px;
    line-height: 40px;
  }
}
