.quality__content {
  position: relative;
  background-color: #2c343e;
  border-radius: 10px;
}
.quality__inner {
  padding: 100px 0 176px 85px;
  max-width: 600px;
}
.quality__img {
  position: absolute;
  top: -76px;
  right: 50px;
  width: 445px;
  height: 474px;
  background-image: url(../../images/quality.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.quality__title {
  margin-bottom: 32px;
  font-family: "Fraunces", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}
.quality__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
@media only screen and (max-width: 1155px) {
  .quality__img {
    top: -160px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 573px;
    height: 320px;
    background-image: url(../../images/quality-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .quality__inner {
    padding: 224px 0 176px 0;
    text-align: center;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 715px) {
  .quality__img {
    top: -130px;
    width: 480px;
    height: 256px;
  }
  .quality__title {
    font-size: 32px;
    line-height: 48px;
  }
  .quality__text {
    font-size: 15px;
    line-height: 25px;
  }
  .quality__inner{
    padding: 224px 0 67px 0;
  }
}
@media only screen and (max-width: 555px) {
  .quality__img {
    top: -60px;
    width: 380px;
    height: 200px;
  }
  .quality__inner {
    width: 280px;
  }
}
@media only screen and (max-width: 440px){
  .quality__img{
    width: 330px;
    height: 190px;
  }
}
